@import "bootstrap";

.fluid-container {
  padding-top: 90px;
}

.bg-light {
  background-color: #5a9be0 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
}

.news {
  color: black;
  margin: 20px;
}

.news a {
  color: green;
}

.card {
  padding: 30px;
}

 cover-heading {
  text-align: center;
}

 #background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('Stellenbosch_background.jpg') no-repeat;
  background-size: cover;
 }

 .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #f8f9fa;
}